In [3]:
import mariadb
import sys 


# Connect to MariaDB Platform

try:
    conn = mariadb.connect( 
    user="root", 
    password="12345678", 
    host="localhost", 
    port=3306,
    database="ipl_analysis")
    
except mariadb.Error as e: 
    print(f"Error connecting to MariaDB Platform: {e}") 

    sys.exit(1) 
# Get Cursor 
cur = conn.cursor()

In [9]:
cur.execute("create table matches(id int,city varchar(20),date varchar(20),player_of_match varchar(20),venue varchar(20),neutral_venue varchar(20),team1 varchar(20),team2 varchar(20),toss_winner varchar(20),toss_decision varchar(20),winner varchar(20),result varchar(20),result_margin varchar(20),eliminator varchar(20),method varchar(20),umpire1 varchar(20),umpire2 varchar(20),primary key(id));")

In [1]:
import pandas as pd

data = pd.read_csv('IPL Matches 2008-2020.csv')

data.head(3)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar

In [2]:
import sqlalchemy
engine = sqlalchemy.create_engine("mariadb:///?User=root&;Password=12345678&Database=ipl_analysis&Server=localhost&Port=3306")

ModuleNotFoundError: No module named 'MySQLdb'

In [29]:
data.to_sql(name='[matches]', con=conn(), flavor='mysql', if_exists='replace', index=False)

TypeError: 'mariadb.connection' object is not callable

In [22]:

for row in data.itertuples():
    cur.execute('''
                INSERT INTO matches(id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2)
                VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
                ''',
                row.id,row.city,row.date,row.player_of_match,row.venue,row.neutral_venue,row.team1,row.team2,row.toss_winner,row.toss_decision,row.winner,row.result,row.result_margin,row.eliminator,row.method,row.umpire1,row.umpire2)                
        
                
conn.commit()

TypeError: function takes at most 3 arguments (18 given)